header {
    color: black;
    background: #fefefe;
    min-height: 60px;
    position: static;
    top: 0;
    width: 100%;
  }
  
  article {
    color: rgb(14, 117, 14);
  }
  
  footer {
    color: rgb(143, 95, 6);
  }
  
  body {
    background: #fefefe;
    background-color: #92bbd1;
    background-image: linear-gradient(163deg, #92bbd1 0%, #ffffff 100%);
  }
  
  .hotpink-header {
    color: rgb(150, 21, 21);
  }
  
  .hotpink-header::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #852bec;
  }
  
  
  
  nav a {
    color: #0e0770;
  }
  
  a {
    color: #2427e7;
  }
  
  #pop {
    background: #4eb2e0;
  }
  
  .black {
    color: rgb(150, 21, 21);
  }
  .black::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #852bec;
  }
  
  .main {
    max-width: 1000px;
    margin: 60px auto 0;
  }
  
  .navigation__link {
    color: rgb(194, 35, 35);
    display: block;
    margin: 0 0 16px;
  }
  
  .week__summary {
    padding: 16px;
    border: 1px #ccc solid;
    background: white;
  }
  
  .img {
    top: 300px;
    border: 300px;
    width: 300px;
    height: 300px;
  }
  
  @media (min-width: 768px) {
    .navigation {
      padding: 16px;
      border-radius: 8px;
      display: flex !important;
      justify-content: space-around;
      align-items: center;
    }
  
    .hamburger {
      display: none;
    }
  
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
    }
  }
  
  .navigation {
    padding: 16px;
    display: none;
  }
  
  .navigation--open {
    display: block;
  }
  
  .hamburger {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  h1 {
      weight: 20px;
      height: 20px;
      color: rgb(197, 33, 142);
     
  }
  
  .test {
      color: rgb(168, 21, 132);
      &__special{
          color:rgb(30, 97, 30);
  
      }
  }